<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <form action="" method="POST">
            <div class="form-group">
                <label for="ProductName">Product Name</label>
                <input type="text" class="form-control" id="ProductName" placeholder="Product Name">
            </div>
            <div class="form-group">
                <label for="ProductPrice">Product Price</label>
                <input type="text" class="form-control" id="ProductPrice" placeholder="Product Price">
            </div>
            <div class="form-group">
                <label for="ProductImage">Product Image</label>
                <input type="file" class="form-control" id="ProductImage">
            </div>
            <div class="form-group">
                <label for="ProductDescription">Product Description</label>
                <textarea class="form-control" rows="5" id="ProductDescription"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" name="btnSubmitProduk">Submit</button>
        </form>
    </body>
</html>